.sso-button {
  display: flex;
  align-items: center;
}


a,
p,
h1,
h2,
h5,
span {
  font-family: "Montserrat", sans-serif;
}

.melardy-green {
  color: #1db954;
}

#hero-container {
  padding: 25px 1em;
}
#hero-card-title {
  width: fit-content;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 4rem;
}
#hero-card-description {
  max-width: 20rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
}
#hero-chart-container {
  background-color: #1db954;
}
#canvas-container {
  padding: 10%;
}
#sso-button {
display: flex;
flex-direction: row;
align-items: center;
}
#sso-button-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
}
#sso-button span {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

#features-container {
  background-color: #F9F9F9;
  border-radius: 2rem;
  padding: 25px 0;
}
#features-container-muchmore {
  font-weight: 600;
  font-size: 1.5rem;
}

.muchmore-card {
    background-color: white;
}
.album-chart {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10%;
}
