<div class="container">
    <div class="row justify-content-center gap-3">
        <div class="col-auto">
            <div class="btn-group" role="group" aria-label="Graph Display Mode Toggle">
                <input type="radio" class="btn-check" name="display-mode-button" id="radar-display" autocomplete="off"
                    checked />
                <label class="btn btn-outline-success shadow-none" for="radar-display">Radar</label>

                <input type="radio" class="btn-check" name="display-mode-button" id="bar-display" autocomplete="off" />
                <label class="btn btn-outline-success shadow-none" for="bar-display">Bar</label>
            </div>
        </div>
        <div class="col-auto">
            <div class="btn-group" role="group" aria-label="Graph Display Color Toggle">
                <input type="radio" class="btn-check color-button" name="display-color-button" id="art-color-button"
                    autocomplete="off" checked />
                <label class="btn btn-outline-success shadow-none" for="art-color-button">Art</label>

                <input type="radio" class="btn-check color-button" name="display-color-button" id="unique-color-button"
                    autocomplete="off" />
                <label class="btn btn-outline-success shadow-none" for="unique-color-button">Unique</label>

                <input type="radio" class="btn-check color-button" name="display-color-button" id="green-color-button"
                    autocomplete="off" />
                <label class="btn btn-outline-success shadow-none" for="green-color-button">Green</label>
            </div>
        </div>
    </div>
</div>