<nav class="topbar">
    <span class="moledar">
        <strong>
            Moledar
        </strong>
    </span>
    <span>
        <a href="/search">Search</a>
    </span>
    <span>
        <a href="/logout">Logout</a>
    </span>
</nav>