<nav class="topbar">
    <span class="melrady">
        <strong>
            Melrady
        </strong>
    </span>
    <span>
        <a href="/search">Search</a>
    </span>
    <span>
        <a href="/logout">Logout</a>
    </span>
</nav>