<div class="card" style="margin-top: 2em; margin-bottom: 4em;">
  <div class="card-header">Legend</div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <h5>Danceability</h5>
      <p class="card-text">
        How suitable this track is for dancing, based on tempo, rhythm
        stability, regularity, and beat strength.
      </p>
    </li>
    <li class="list-group-item">
      <h5>Duration</h5>
      <p class="card-text">
        Somewhat self-explanatory, this is just the length of the track relative
        to the others.
      </p>
    </li>
    <li class="list-group-item">
      <h5>Energy</h5>
      <p class="card-text">
        How fast, loud, and noisy a track is. Represents a perceptual measure of
        track intensity and activity. Measured based on dynamic range, perceived
        loudness, timbre, onset rate, and general entropy.
      </p>
    </li>
    <li class="list-group-item">
      <h5>Speechiness</h5>
      <p class="card-text">
        How close this track is to being only spoken word. The closer the track
        is to a talk show/audio book, the higher the value.
      </p>
    </li>
    <li class="list-group-item">
      <h5>Tempo</h5>
      <p class="card-text">
        The speed/pace of a given piece, measured based on average beat
        duration.
      </p>
    </li>
    <li class="list-group-item">
      <h5>Valence</h5>
      <p class="card-text">
        Descirbes the musical positivity of a track. Higher values are songs
        measured to be more happy/cheerful/euphoric, while lower ones indicate
        sad/depressing/angry music.
      </p>
    </li>
    <li class="list-group-item">
      <h5>Loudness</h5>
      <p class="card-text">
        The average loudness of a track in decibels (dB). Typically ranges
        between -60 and 0 dB.
      </p>
    </li>
  </ul>
</div>
